<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DiscordRPC.Main.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <userSettings>
        <DiscordRPC.Main.Properties.Settings>
            <setting name="discord_client_id" serializeAs="String">
                <value />
            </setting>
            <setting name="app_first_run" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="discord_details_status" serializeAs="String">
                <value />
            </setting>
            <setting name="discord_state_status" serializeAs="String">
                <value />
            </setting>
            <setting name="discord_startTimeStamp" serializeAs="String">
                <value />
            </setting>
            <setting name="discord_endTimeStamp" serializeAs="String">
                <value />
            </setting>
            <setting name="discord_largeImageKey" serializeAs="String">
                <value />
            </setting>
            <setting name="discord_largeImageText" serializeAs="String">
                <value />
            </setting>
            <setting name="discord_smallImageKey" serializeAs="String">
                <value />
            </setting>
            <setting name="discord_smallImageText" serializeAs="String">
                <value />
            </setting>
            <setting name="discord_status_status" serializeAs="String">
                <value />
            </setting>
            <setting name="UpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="developer_mode" serializeAs="String">
                <value>False</value>
            </setting>
        </DiscordRPC.Main.Properties.Settings>
    </userSettings>
</configuration>
